   html, body {
     
      margin: 0;
      padding: 0;
      font-family: serif;
    }
 .form-control ,  .form-select {
         width: 120%;
         margin-top: 10px;
    }
    .btn{

        background-color: white;
        color: black;
        margin-top: 5px;
        width: 40%;
        height: 30px;
    }
    .btn:hover , .form-control , .form-select:hover {
        border: none;
        box-shadow: 15px 12px 33px 10px rgba(0,0,0,0.3);
    }
   